<div class="container" *ngIf="summaryData">
    <!-- Content here -->
    <div class="d-sm-flex flex-column justify-content-center w-100">
        <div class="mx-auto">
            <h2>Applied Jobs</h2>
        </div>
        <div class="d-flex justify-content-between align-items-end">
            <div class="container w-25">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Filter:</span>
                    <input type="text" class="form-control" placeholder="Enter Company Name" aria-label="Username"
                        aria-describedby="basic-addon1" id="searchBox" (keyup)="filterData($event)">
                </div>
            </div>
        </div>
        <table class="w3-table w3-striped">
            <tr class="w3-black">
                <th>
                    Company Name
                </th>
                <th>
                    Applied Date
                </th>
                <th>
                    Job Link
                </th>

                <th class="btn_container">
                    <button class="w3-btn w3-hover-light-green w3-round-large w3-green" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Add Job</button>
                </th>
            </tr>

            <tr *ngFor="let item of summaryData">
                <td>
                    {{item.Name | titlecase}}
                </td>
                <td>
                    {{item.Applied | date:'MMMM dd, YYYY':'UTC'}}
                </td>
                <td>
                    <div class="link">

                        <a class="link-dark " href={{item.Link}} target="_blank">{{item.Link}}</a>
                    </div>
                </td>
                <td class="btn_container">
                    <button class="w3-btn w3-white w3-border w3-border-red w3-round-large w3-hover-red"
                        (click)="deleteJob(item.Id)">X</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="jobForm" autocomplete="off">
                    <div class="mb-3">
                        <label for="name" class="form-label">Company Name</label>

                        <input type="text" class="form-control" id="name" formControlName="name">

                        <div *ngIf="jobForm.controls['name'].invalid && jobForm.controls['name'].touched"
                            class="form-text w3-text-red">Company Name cannot be empty!</div>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Job Link</label>

                        <input type="text" class="form-control" id="link" formControlName="link">

                        <div *ngIf="jobForm.controls['link'].invalid && jobForm.controls['link'].touched"
                            class="form-text w3-text-red">Job Link cannot be empty!</div>
                    </div>
                    <div class="mb-3">
                        <label for="applied" class="form-label">Applied On</label>

                        <input type="date" class="form-control" id="applied" formControlName="applied">

                        <div *ngIf="jobForm.controls['applied'].invalid && jobForm.controls['applied'].touched"
                            class="form-text w3-text-red">Applied Date cannot be empty!</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addJob()">Save changes</button>
            </div>
        </div>
    </div>
</div>